<h2>{{ "account_created.title"|trans({}, "emails", locale) }},</h2>
<p>{{ "account_created.confirm_msg"|trans({'%code%': token}, "emails", locale) }}
<p>{{ "account_created.safe_ignore_msg"|trans({}, "emails", locale) }}</p>