<h2>{{ "forgot_password.title"|trans({}, "emails", locale) }},</h2>
<p>{{ "forgot_password.msg"|trans({"%email%": email, "%code%": token}, "emails", locale) }}</p>
<p>{{ "forgot_password.safe_ignore"|trans({}, "emails", locale) }}</p>