<h2>{{ "password_changed.title"|trans({}, "emails", locale) }},</h2>
<p>{{ "password_changed.msg"|trans({"%email%": email}, "emails", locale) }}</p>
<p>{{ "password_changed.msg_trouble"|trans({}, "emails", locale) }}</p>
<p>{{ "password_changed.advice"|trans({}, "emails", locale) }}</p>